<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="spandroid.dev">

    <application
        android:name=".app.SpandroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LauncherActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".recyclerView.RecyclerViewActivity" />
        <activity android:name=".activity.MyActivity" />
        <activity android:name=".alarmManager.AlarmActivity" />
        <activity android:name=".android5.Android5Activity" />
        <activity android:name=".android6.Android6Activity" />
        <activity android:name=".android7.Android7Activity" />
        <activity android:name=".android8.Android8Activity" />
        <activity android:name=".animation.AnimationActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".bindedService.BindServiceActivity" />
        <activity android:name=".BitmapMemoryMngmt.BitmapMemoryMngmtActivity" />
        <activity android:name=".broadcastReciever.BroadcastActivity" />
        <activity android:name=".fragment.FragmentMainActivity" />
        <activity android:name=".handlerThread.HandlerThreadActivity" />
        <activity android:name=".intentService.IntentServiceActivity" />
        <activity android:name=".jobSchedulers.JobSchedulerActivity" />
        <activity android:name=".liveData.LiveDataActivity" />
        <activity android:name=".memoryMngmt.MemoryMngmtActivity" />
        <activity android:name=".myMaps.MyGoogleMapActivity" />
        <activity android:name=".performance.PerformanceActivity" />
        <activity android:name=".readAndWriteOperation_pdf_excel.ReaderAndWriterActivity" />
        <activity android:name=".room.RoomActivity" />
        <activity android:name=".runtimePermission.RuntimePermissionActivity" />
        <activity android:name=".security.SecurityActivity" />
        <activity android:name=".styles.StlesActivity" />
        <activity android:name=".viewpager.ViewPagerActivity" />
        <activity android:name=".service.ServiceActivity" />
        <activity android:name=".uiDesign.UiDesignActivity" />
        <activity android:name=".fragment.MainDesignPatternActivity" />
        <activity android:name=".network.MainNetworkActivity" />
        <activity android:name=".network.retrofit.AsyncActivity" />
        <activity android:name=".network.retrofit.RetrofitActivity" />
        <activity android:name=".network.volley.VolleyActivity" />
        <activity android:name=".designPartern.mvp.MvpActivity" />
        <activity android:name=".designPartern.mvvm.MvvmActivity" />
        <activity android:name=".designPartern.observer.ObservableActivity" />
        <activity android:name=".designPartern.mvc.MVCActivity" />
        <activity android:name=".contentProv.ContentProviderActivity" />
        <activity android:name=".dagger2.Dagger2Activity" />
        <activity android:name=".eventBus.EventBusActivity" />

        <!-- LAUNCHER MODES -->
        <activity android:name=".launchMode.LaunchModeActivity" />
        <activity
            android:name=".launchMode.SingleTaskActivity"
            android:label="singleTask launchMode"
            android:launchMode="singleTask" />
        <activity
            android:name=".launchMode.SingleTopActivity"
            android:launchMode="singleTop" />
        <activity android:name=".launchMode.StandardActivity" />
        <activity android:name=".launchMode.TaskAffinityActivity" />
        <activity
            android:name=".launchMode.SingleInstanceActivity"
            android:taskAffinity="" />
        <!-- END LAUNCHER MODES -->

        <activity android:name=".kotlin.KotlinActivity" />
        <activity android:name=".popupwindow.PopupWIndowActivity" />
        <activity android:name=".animation.CircularReavelAnimActivity" />
        <activity android:name=".rxjava.RxJavaActivity" />
        <activity
            android:name=".bottomsheet.ButtomSheetActivity"
            android:theme="@style/AppThemeNoActionbar">

        </activity>
        <activity
            android:name=".bottomsheet.BottomSheetActivity1"
            android:theme="@style/AppThemeNoActionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>